<%= form_tag("/shipmentreceive") do %>

 <% @shipment.each_with_index do |receive, index| %>
 	<% if receive["validated"] == false %>			
		<%= editable_input(receive)%>
		<input type="hidden" name="name" value="<%=receive["name"]%>">
		<% break %>	
	<% else %>
		<div> <%= receive["description"] %> : <%= receive["value"] %></div>	
	<% end %>	
 <% end %>


<div>
  <%= content_tag(:label, "Error: " +  @error.to_s) if  !@error.blank?%>
</div>  

<div>
  <%= submit_tag("Receive") %>
</div>  
</div>

<% end %>