<%= form_tag("/shipmentreceive") do %>

 User:<%=@user%> <%=@basic_parameters["client"]%>/<%=@basic_parameters["warehouse"]%>/<%=@basic_parameters["building"]%>/<%=@basic_parameters["channel"]%>
 <% @shipment.each_with_index do |receive, index| %>
 	<% if receive["to_validate"] == "Yes"%>
	 	<% if receive["validated"] == false %>			
			<%= editable_input(receive)%>
				<%break%>
		<% else %>
			<div> <%= receive["description"] %> : <%= receive["value"] %></div>	
		<% end %>	
	<%end%>	
 <% end %>


<div>
  <%= content_tag(:label, "Error: " +  @error.to_s) if  !@error.blank?%>
</div>  

<div>
  <%= submit_tag("Receive") %>
</div>  
</div>

<% end %>